.header {
    margin-left: 190px;
    padding: 30px 20px;
    background-color: #F5F5F550;
    height: auto;
        
    @media screen and (max-width: 991px){
        margin: 0;
    }
}

.div-container {
    padding: 0 90px;
}

img {
    width: 3rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
}

.input-search {
    width: 400px;
}